on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: lint and test
jobs:
  lint:
    name: Golang-CI Lint
    timeout-minutes: 10
    strategy:
      matrix:
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: actions/checkout@v6
      - uses: golangci/golangci-lint-action@v9
